<footer class="footer">
    <div class="footer-content has-text-centered">
        <a href="https://www.linkedin.com/in/kartikeyakandula/" target="_blank" class="btn-nav"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.instagram.com/kartikeyakandula/" target="_blank" class="btn-nav"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/kartkand" target="_blank" class="btn-nav"><i class="fab fa-twitter"></i></a>
        <a href="mailto:kandula.kartikeya@gmail.com" target="_blank" class="btn-nav"><i class="fa fa-envelope"></i></a>
    </div>
</footer>