<footer class="footer" style="padding-bottom: 2rem;">
    <div class="content has-text-centered">
        <a href="https://codepen.io/kartikeya-kandula/" target="_blank" class="btn-social"><i class="fa fa-codepen"></i></a>
        <a href="https://www.linkedin.com/in/kartikeyakandula/" target="_blank" class="btn-social"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.behance.net/kartikeyakandula" target="_blank" class="btn-social"><i class="fa fa-behance"></i></a>
        <a href="https://github.com/kartkand" target="_blank" class="btn-social"><i class="fa fa-github-square"></i></a>
        <a href="mailto:kandula.kartikeya@gmail.com" target="_blank" class="btn-social"><i class="fa fa-envelope"></i></a>
    </div>
    <div class="content has-text-centered">
        <div class="footer-brand">&copy 2019 Kartikeya Kandula</div>
    </div>
</footer>