h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, strong, b {  margin-bottom: 20px; }
h1,h4 { margin-bottom: 10px; }
h2,h3 { font-weight: 300; color: #007bff; }
h1 { font-size: 54px; text-align: center; }
h3 { text-align: center; }

p.lead { text-align: center; color: #727878; }
p.lead a { color: #FFFFFF; text-decoration: underline; }
p.lead a:hover { text-decoration: none; }
ul.no-bullets { list-style-type: none; margin: 0px; padding: 0px; }
hr { margin: 40px 0px; border-color: #727878; opacity: 0.2; filter:alpha(opacity=20); }




#resume .experience .experience-details { display: block; margin-top: 6px; }
#resume .experience .experience-details * { color: #007bff; }


