<!DOCTYPE html>
<html lang="en">
<head>
  <title>Kartikeya Kandula</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="/static/img/logo.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Lightroom Gallery</title>
  <link href="/static/css/custom.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
{% include 'architecture/header.html' %}

<div class="hero-image" style="background-image: url(/static/img/seattle.jpg); background-position: bottom center; height: 50%;">
  <div class="hero-text" style="width: 100%; top: 50%; background-color: rgba(0, 0, 0, 0.7);">
    <h1 style="letter-spacing: 0.2em; font-weight: bold;">ABOUT</h1>
  </div>
</div>

<div id="code" style ="border-radius: 5px; width:75%; margin: auto; padding-top:15px; font-size:30px; background: #ccc; font-family: 'Monaco', 'Courier New';text-align: left; font-size:13px; color: #fff; margin-top: 3%;">
    <div id="console" style ="width:100%; padding: 40px; margin:0 auto; background: #383737;">
      &gt; Kart.origin<br/>
      <span class="answer">&nbsp;&nbsp;=&gt; "Okemos, MI"<br/><br/></span>
      &gt; Kart.education<br/>
      <span class="answer">&nbsp;&nbsp;=&gt; "University of Michigan"<br/><br/></span>
      &gt; Kart.major<br/>
      <span class="answer">&nbsp;&nbsp;=&gt; "Computer Science Engineering"<br/><br/></span>
      &gt; Kart.Graduation<br/>
      <span class="answer">&nbsp;&nbsp;=&gt; "May 2019"<br/><br/></span>
      &gt; Kart.interests<br/>
      <span class="answer">&nbsp;&nbsp;=&gt; ["tennis", "code", "photography", "travel", "concerts", "basketball", "food"]<br/><br/></span>
      &gt; Kart.workExperience.latest<br/>
      <span class="answer">&nbsp;&nbsp;=&gt; Latest Work Experience<br/>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; company: "JPMorgan Chase"<br/>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; role: "Technology Analyst Intern"<br/>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; startDate: "June 2018"<br/>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; endDate: "August 2018"<br/>
      <br/></span>
      &gt; Kart.resume<br/>
      <span class="answer">&nbsp;&nbsp;=&gt; "<a target="_blank" href="/resume.pdf">resume.pdf</a>"<br/><br/></span>
      &gt; Kart.email<br/>
      <span class="answer">&nbsp;&nbsp;=&gt; "<a target="_blank" href="mailto:kandula.kartikeya@gmail.com">kandula.kartikeya@gmail.com</a>"<br/><br/></span>
    </div>
</div>



<div class="container" style="margin-top: 15%;">
  <div class="row">
    <div class="col-sm-3">
      <h3 class="section_header">What I'm Reading</h3>
    </div>
    <div class="col-md-8 col-sm-offset-1">
      <p><a class="reading_list" href="https://mises.org/library/markets-and-information-problem">Markets and the Information Problem</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-sm-offset-4">
      <p><a class="reading_list" href="https://waitbutwhy.com/2017/03/elon-musk-post-series.html">The Elon Musk Post Series</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-sm-offset-4">
      <p><a class="reading_list" href="https://waitbutwhy.com/2015/01/artificial-intelligence-revolution-1.html">The AI Revolution: The Road to Superintelligence</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-sm-offset-4">
      <p><a class="reading_list" href="https://github.com/Droogans/unmaintainable-code">How To Write Unmaintainable Code</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-sm-offset-4">
      <p><a class="reading_list" href="https://www.nytimes.com/2006/08/20/sports/playmagazine/20federer.html">Roger Federer as Religious Experience</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-sm-offset-4">
      <p><a class="reading_list" href="https://www.wsj.com/articles/a-rebuttal-to-jason-gay-1475245637">Michigan’s Formal Rebuttal to Jason Gay</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-sm-offset-4">
      <p><a class="reading_list" href="https://www.esquire.com/sports/a5151/the-string-theory-david-foster-wallace/">The String Theory</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-sm-offset-4">
      <p><a class="reading_list" href="https://distill.pub/2017/aia/">Using Artiﬁcial Intelligence to Augment Human Intelligence</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-sm-offset-4">
      <p><a class="reading_list" href="https://spectrum.ieee.org/automaton/robotics/artificial-intelligence/facebook-ai-director-yann-lecun-on-deep-learning">Facebook AI Director Yann LeCun on His Quest to Unleash Deep Learning and Make Machines Smarter</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-sm-offset-4">
      <p><a class="reading_list" href="http://www.espn.com/espn/feature/story/_/page/Michael-Jordan/michael-jordan-not-left-building?src=longreads">Michael Jordan Has Not Left The Building</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-sm-offset-4">
      <p><a class="reading_list" href="https://www.newyorker.com/magazine/2016/08/29/damon-baehrel-the-most-exclusive-restaurant-in-america?src=longreads">The Most Exclusive Restaurant in America</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-sm-offset-4">
      <p><a class="reading_list" href="https://www.gq.com/story/colin-kaepernick-will-not-be-silenced">Colin Kaepernick Will Not Be Silenced</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-sm-offset-4">
      <p><a class="reading_list" href="https://www.rollingstone.com/music/news/the-passion-of-kanye-west-20060209">The Passion of Kanye West</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-sm-offset-4">
      <p><a class="reading_list" href="https://www.gq.com/story/how-chance-the-rappers-life-became-perfect">How Chance the Rapper’s Life Became Perfect</a></p>
    </div>
  </div>

</div>


<div class="container" style="margin-top: 15%;">
  <div class="row quote">
    <div class="col-sm-3">
      <h3 class="section_header">Musings</h3>
    </div>
    <div class="col-md-8 col-sm-offset-1">
      <p>“I wanted you to see what real courage is, instead of getting the idea that courage is a man with a gun in his hand. It's when you know you're licked before you begin, but you begin anyway and see it through no matter what." - Harper Lee, To Kill a Mockingbird</p>
    </div>
  </div>

  <div class="row quote">
    <div class="col-md-8 col-sm-offset-4">
      <p>"Don’t believe in kings, believe in the Kingdom." - Chance the Rapper</p>
    </div>
  </div>

  <div class="row quote">
    <div class="col-md-8 col-sm-offset-4">
      <p>"If people aren’t laughing at your dream, then they aren’t big enough." - Robin S. Sharma</p>
    </div>
  </div>

  <div class="row quote">
    <div class="col-md-8 col-sm-offset-4">
      <p>“I’m as proud of many of the things we haven’t done as the things we have done. Innovation is saying no to a thousand things.” – Steve Jobs</p>
    </div>
  </div>

  <div class="row quote">
    <div class="col-md-8 col-sm-offset-4">
      <p>"My mother said to me, 'If you become a soldier you'll be a general; if you become a monk you'll end up as the pope.' Instead, I became a painter and wound up as Picasso." - Pablo Picasso</p>
    </div>
  </div>

  <div class="row quote">
    <div class="col-md-8 col-sm-offset-4">
      <p>"The real danger is not that computers will begin to think like men, but that men will begin to think like computers." - Sydney Harris</p>
    </div>
  </div>

  <div class="row quote">
    <div class="col-md-8 col-sm-offset-4">
      <p>“Technology is a useful servant but a dangerous master.” - Christian Lous Lange</p>
    </div>
  </div>

  <div class="row quote">
    <div class="col-md-8 col-sm-offset-4">
      <p>"Peace, love, and positivity." - Logic</p>
    </div>
  </div>

  <div class="row quote">
    <div class="col-md-8 col-sm-offset-4">
      <p>"Everbody wanted to know what I would do if I didn't win. I guess we'll never know." - Kanye West</p>
    </div>
  </div>

  <div class="row quote">
    <div class="col-md-8 col-sm-offset-4">
      <p>"The more I practice, the luckier I get." - Gary Player</p>
    </div>
  </div>

  <div class="row quote">
    <div class="col-md-8 col-sm-offset-4">
      <p>"There is nothing either good or bad, but thinking makes it so." — Shakespeare, Hamlet</p>
    </div>
  </div>

  <div class="row quote">
    <div class="col-md-8 col-sm-offset-4">
      <p>"I solemnly swear that I am up to no good."  – J.K. Rowling, The Prisoner of Azkaban  </p>
    </div>
  </div>

  <div class="row quote">
    <div class="col-md-8 col-sm-offset-4">
      <p>“To succeed in life, you need two things: ignorance and confidence.” – Mark Twain</p>
    </div>
  </div>

  <div class="row quote">
    <div class="col-md-8 col-sm-offset-4">
      <p>"The person who never made a mistake, never made anything." - Albert Einstein</p>
    </div>
  </div>

</div>


{% include 'architecture/footer.html' %}


</body>
</html>