<!DOCTYPE html>
<html lang="en">

{% include 'architecture/header.html' %}

<body>


<div orientation="right" class="right-bar"><ul class="nav-list">
	<li class="nav-element"><a href="./" class="btn-social"><i class="fas fa-home"></i></a></li>
	<li class="nav-element"><a href="./about" class="btn-social"><i class="fas fa-user"></i></a></li>
    <li class="nav-element"><a href="https://github.com/kartkand" class="btn-social"><i class="fas fa-briefcase"></i></a></li>
    <li class="nav-element"><a href="./resume.pdf" target="_blank" class="btn-social"><i class="fa fa-file-alt"></i></a></li>
</ul></div>

<section class="hero is-medium light-section" id = "intro-section">
	<div class="hero-body" style="padding-top: 4rem; padding-bottom: 0;">
	    <div class="columns">
	    	<div class="column is-two-thirds is-offset-2">
		        <h1><strong class="is-purple">Kartikeya Kandula</strong></h1>
		        <h1><strong>Ph.D. @ Princeton</strong></h1>
		        <h3>Hello 👋!</h3>
		        <h3>I'm <strong>Kart</strong>, a first year computer science Ph.D. student in <a class="highlight-link" href="https://citp.princeton.edu/" target="_blank">CITP</a> at Princeton University. My research interests include tech policy, information privacy, and algorithmic bias.</h3>
		        <h3>I received my B.S.E and M.S.E in computer science engineering from the <a class="highlight-link" href="https://www.youtube.com/watch?v=1n4rqMnxaig" target="_blank">University of Michigan</a>. Previously, I have worked as a Software Engineering Intern at Microsoft and as a Technology Analyst Intern at J.P. Morgan.</h3>

		        <p style="margin-top: 2.5rem; margin-bottom: 2.5rem;"><a href="https://www.instagram.com/kartikeyakandula/" class="arrow-link" target="_blank">See my life</a></p>
		    </div>
	    </div>
	</div>

</section>


{% include 'architecture/footer.html' %}


</body>
</html>