<!DOCTYPE html>
<html lang="en">

{% include 'architecture/header.html' %}

<body>

<div class="page-container">

{% include 'architecture/navbar.html' %}

<section class="hero is-medium page-content">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-two-thirds is-offset-2 is-10-mobile is-offset-1-mobile">
          <h1 class="is-purple">WORK</h1>
      </div>
    </div>
  </div>
  <div class="hero-body">
    <div class="columns">
      <div class="column is-4 is-offset-2 is-10-mobile is-offset-1-mobile">
        <a href="/link" class="work-gallery">
          <img src="/static/img/kickback.jpg">
          <div class="work-overlay">
            <div class="overlay-coloring" style="background-color: #EF7661;">
              <div class="overlay-text">
                <div class="experience">Kickback</div>
                <div class="divider">-</div>
                <div class="type">Hackathon Winner</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-4 is-10-mobile is-offset-1-mobile">
        <a href="/link" class="work-gallery">
          <img src="/static/img/v2.jpg">
          <div class="work-overlay">
            <div class="overlay-coloring" style="background-color: #A75FB3;">
              <div class="overlay-text">
                <div class="experience">Personal Site v2</div>
                <div class="divider">-</div>
                <div class="type">Web Design</div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-2 is-10-mobile is-offset-1-mobile">
        <a href="/link" class="work-gallery">
          <img src="/static/img/swap.jpg">
          <div class="work-overlay">
            <div class="overlay-coloring" style="background-color: #346C84;">
              <div class="overlay-text">
                <div class="experience">Unclearballot</div>
                <div class="divider">-</div>
                <div class="type">Research Publication</div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-4 is-10-mobile is-offset-1-mobile">
        <a href="/link" class="work-gallery">
          <img src="/static/img/excel.jpg">
          <div class="work-overlay">
            <div class="overlay-coloring" style="background-color: #377B48;">
              <div class="overlay-text">
                <div class="experience">Excel for Mac</div>
                <div class="divider">-</div>
                <div class="type">Microsoft Internship</div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

{% include 'architecture/footer.html' %}

</div>


<script>
document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
</script>

</body>
</html>